.boxes{
	float: left;
	padding: 10px;
	text-align: center;
	border: 1px solid black;
	margin-top: 10px;

}


#list{
	margin-right: 2%;
	margin-left: 3%;
}

#fix{
	margin-right: 2%;
	margin-left: 2%;
}

#match{
	margin-right: 3%;
	margin-left: 2%;
}

#home{
	border: 5px solid green;
	float: left;
	height: 100px;
	width: 100px;
}

#away{
	border: 5px solid orange;
	float: left;
	height: 100px;
	width: 100px;
}